<body>
  <%= render 'layouts/header' %>
  <div class="page-content">
    <div id="messages">
      <%= render 'layouts/messages' %>
    </div>
    <div class="<%='container' unless current_page?(root_path) %>">
      <div class="<%='page-content' unless current_page?(root_path) %>">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
